*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 90vw;
    height: 90vh;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    margin: 2% auto ;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.container2{
    width: 70vw;
    height: 70vh;
    background-color: teal;
    border: 2px solid black;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    justify-content: space-evenly;
}

.container2 img{
    width: 250px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
}
