*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{

    width: 70vw;
    height: auto;
    align-items: center;
    justify-content: center;
    border:  1px solid black;
    padding: 20px;
    margin: 20px auto;

}
h1{
    padding: 10px;
    text-align: center;
}

