@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

.container{
    height: 70px;
    background-color: #484848;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 30px rgb(23, 1, 119);
   
}


.container .navbar{
    width: 98%;
    height: 80px;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#logo img{
    margin: auto;
    width: 120px;
    height: 70px;
    
}
#menu{
    width: 500px;
    /* background-color: aliceblue; */
    justify-content: space-between;
}

#menu ul{
    list-style: none;
    display: flex;
    /* gap: 10px; */
    /* margin-right: 20px; */
    /* justify-content: space-evenly; */
    margin: 10px;
    
   
}
#menu ul li{
    display: inline;
    margin: 2px;
    padding: 5px 10px;
    
}

#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    font-weight: 400;
    align-items: center;
    /* padding: 8px; */
}
/* #menu ul li:hover{
    background-color: azure;
} */



#menu ul li:hover{
    cursor: pointer;
    /* background-color: violet; */
    /* color: black; */
    /* background: transparent; */
    /* box-shadow: inset; */
   
    border: 1px solid blue;
    box-shadow: 0px 0px 10px red;
    
}


.container-body{
    width: 80vw;
    height: 40vh;
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
    
}

.container-body h1{
    text-align: center;
    align-items: center;
    font-size: 15rem;
    /* outline: 0px 1px dashed red; */

    /* font-weight: 600; */
}

.container-body h1:hover{
    cursor: pointer;
    
    text-shadow: 10px 10px 30px red;
}

.container-body #b:hover{
    cursor: pointer;
    text-shadow: 10px 10px 30px rgb(0, 9, 139);
}

